[project]
	description = Migrating to Android Studio and Gradle
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anton Antonov (Scoty)
[access "refs/for/refs/*"]
	read = group user/Anton Antonov (Scoty)
	push = group user/Anton Antonov (Scoty)
	label-Code-Review = -2..+2 group user/Anton Antonov (Scoty)
	label-Verified = -1..+1 group user/Anton Antonov (Scoty)
	rebase = group user/Anton Antonov (Scoty)
	removeReviewer = group user/Anton Antonov (Scoty)
	submit = group user/Anton Antonov (Scoty)
[access "refs/heads/*"]
	read = group user/Anton Antonov (Scoty)
	create = group user/Anton Antonov (Scoty)
	push = +force group user/Anton Antonov (Scoty)
	pushMerge = group user/Anton Antonov (Scoty)
[access "refs/tags/*"]
	push = +force group user/Anton Antonov (Scoty)
	pushTag = group user/Anton Antonov (Scoty)
	pushSignedTag = group user/Anton Antonov (Scoty)
